<section>
  <h3>{{i18n "category.journal_settings_label"}}</h3>

  <section class="field">
    <label>
      {{input type="checkbox" checked=category.custom_fields.journal}}

      {{i18n "category.enable_journal"}}
    </label>
  </section>

  <section class="field">
    <label for="category-journal-authors">
      {{i18n "category.journal_authors"}}
    </label>

    <JournalGroupChooser @category={{this.category}} />
  </section>

  <section class="field">
    <h4 for="category-journal-update-sort-order">
      {{i18n "category.update_sort_order.label"}}
    </h4>

    <p>{{i18n "category.update_sort_order.description"}}</p>

    <DButton
      @label="category.update_sort_order.button"
      @action={{this.updateSortOrder}}
      @icon="sync"/>

    {{#if syncResultIcon}}
      {{d-icon syncResultIcon}}
    {{else}}
      {{conditional-loading-spinner condition=updatingSortOrder size="small"}}
    {{/if}}
  </section>
</section>